Files/
Logs
Profiles
Scripts
Services
Shared Projects
experts.dat
mql5.content
mql5.index

Experts/Advisors/
Experts/Examples/
Experts/FirstRobot_Base.mq5
Experts/Mrt.mq5

.vscode/

Include/Arrays
Include/Canvas
Include/ChartObjects
Include/Charts
Include/Controls
Include/Expert
Include/Files
Include/Generic
Include/Graphics
Include/Indicators
Include/Math
Include/OpenCL
Include/Strings
Include/Tools
Include/Trade
Include/WinAPI
Include/MovingAverages.mqh
Include/Object.mqh
Include/OpenPosition.mqh
Include/PositionsCounter.mqh
Include/StdLibErr.mqh
Include/VirtualKeys.mqh

Indicators/
Libraries/